/* responsiveness starts here */

@media screen and (max-width:576px){

    /* shared style */
     .full-container{
          max-width: 576px;
          margin: 0 auto;
          border: 0.01px solid transparent;
          }
    body{
            /* border: 2px solid yellow; */
            min-width: 400px;
        }
                                
    /* navbar style */
                                
    .header-section{
      height: auto;
     }

     .navbar{
        max-width: 536px;
        height: auto;
        margin: 0 20px;
        margin-top: 52px;
    }
    .nav-right ul{
        display: none;
    }
    .nav-right i{
        display: block;
        color: white;
        font-size: 1.5rem;
    }
    .nav-right{
        border: none;
    }
                               
    /* banner styles */

    .banner-container{
        max-width: 536px;
        height: auto;
        margin: 0 20px;
        margin-top: 51px;
        flex-direction: column;
        gap: 48px;
    }
    .banner-text-container{
        flex-direction: column;
        justify-content: center;
    }
    .banner-text-container h1{
        font-size: 2.25rem;
    }
    .btn-container{
        display: flex;
        gap: 5px;
    }
    .btn-primary{
        width: 169px;
    }
    .btn-secondary{
        width: 169px;
    }
    .banner-image-container{
        width: 100%;
    }
    .banner-image{
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
    }
    .banner-image img{
        width:100%;
        height: 100%;
    }
    .upper-rectangle{
        width: 145.91px;
        height: 74.09px;
        top: 10.26%;
        left: 55.231%;
        padding-left: 18px;
        padding-top: 12px;
    }
    .upper-rectangle .u-number{
        font-size: 1.89rem;
        letter-spacing: 0.76px;
    }
    .upper-rectangle .u-desc{
        font-size: 0.614375rem;
        letter-spacing: 0.76px;
        margin-bottom: 11px;
    }
    .lower-rectangle{
        width: 155.74px;
        height: 72.58px;
        top: 50.49%;
        left:2.24%;
        padding-top: 15.12px;
        padding-bottom: 14.26px;
        padding-left: 17.39px;
    }
    .ball{
        display: none;
    }
    .circle-play{
        display: block;
        width: 35px;
        height: 33px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #E6533C;
    }
    .fa-play{
        font-size: 15px;
        color: white;
    }
    .lower-rectangle .l-number{
        font-size: 1.13375rem;
        letter-spacing: 0.23px;
        margin-bottom: 5.19px;
    }
    .lower-rectangle .l-desc{
        font-size: 0.75625rem;
        letter-spacing: 0.38px;
    }


     /* change habit styles */

    .change-habit-section{
        height: auto;
    }
    .change-habit-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 0 20px;
        margin-top: 20px;                                
    }
    .change-habit-text, .weekly-challenges-text{
        width: 100%;
        height: auto;
    }
    .habit-title, .meet-title, .weekly-challenges-title, .run-text-container h1, .training-and-exercise-text-container h1{
        font-size: 2rem;
    }
    .change-habit-image{
        width: 100%;
        height: auto;
                                  
        flex-direction: column;                                    
        align-items: center;
        gap: 36px;
    } 

    /* run extra styles */
                                                            
    .run-extra-section{
        height: auto;
    }
    .run-extra-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 0 20px;
        margin-top: 66px;
        flex-direction: column;                
    }
    .run-text-container{
        width: 100%;
        margin: 0px 0px;
    }  
    .run-text-container p br{
        display: none;
    }                              
    .run-btn{
        width: 100%;
    }
    .run-image-container{
        width: 100%;
        margin: 0px 0px;
        height: auto;
    }
    .run-image-container .run-a{
        display: none;
    }                           
    .run-image-container .run-b{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 18px;
    }                                                                                                      
    .run-text-container-parent{
        width: 90%;
        height: 50%;
        margin: 31px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .run-image-container-parent{
        width: 90%;
        height: 50%;
        margin: 0px auto 31px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* training and exercise styles */
                                                            
    .training-and-exercise-section{
        height: auto;
    }
    .training-and-exercise-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 0 20px;
        margin-top: 66px;
    }
    .training-and-exercise-text-container{
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
    .row-1, .row-2{
        width: 100%;
        height:auto;
    }
    .div-3, .div-6{
        display: none;
    }
    .workout-4{
        left: 130px;
    }

    /* weekly challenges styles */
    .weekly-challenges-section{
        height: auto;
    }
    .weekly-challenges-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 0 20px;
        margin-top: 66px;
    }  
    .challenges-row-container{
        height: auto;
        margin-top: 36px;
    }                            
    .challenges-row-1{
        height: auto;
        flex-direction: column;
    }
    .challenges-row-2{
        margin-top: 20px;
        height:auto;
    }                               
    .challenge-1, .challenge-2, .challenge-3{
        width: 100%;
        height: auto; 
    }
    .c-1-title, .c-2-title, .c-3-title{
        font-size: 1.5rem;
    }
    .c-1-desc, .c-2-desc, .c-3-desc{
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.875rem;
    }

    /* BMI Calculator styles */
                                
    .BMI-calculator-section{
        height: auto;
    }
    .BMI-calculator-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 31px 20px;                               
    }
    .BMI-calculator-text-container{
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }
    .BMI-calculator-text-container h1{
        font-size: 2rem;
    }
    .BMI-Calculation-container{
        height: auto;
    }
    .BMI-Calculation-content{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 42px;
    }
    .left-content{
        width: 90%;
        height: auto;
        margin-top: 34px;
        margin-left: 20px;
    }
    .left-content-text{
        font-size: 1rem;
        margin-bottom: 23px;
    }
    .right-content{
        width: 90%;
        height: auto;
        margin-left: 20px;
        margin-bottom: 43px;
    }
    .right-content-text{                               
        font-size: 1rem;
    }
    .height-weight, .age-gender{
        width: 100%;
        height: auto;
        gap: 12px;
    }                           
    .select-3{
        width: 100%;
        height: 48px;
        border: none;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        border-right: 20px solid transparent;
    }
    .calculate-btn{
        width: 224px;
    }

    /* meet our team styles */
                                
    .meet-our-team-section{
        height: auto;
    }
    .meet-our-team-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 66px 20px;
    }
    .meet-our-team-text{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .meet-our-team-image-container{
        width: 100%;
        height: auto;
        margin-top: 37px;
        gap: 0px;
    }
    .team-row{
        height: auto;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #team-row-2{
        margin-top: 0px;
    }                                
    .team-image-1, .team-image-2, .team-image-3, .team-image-4, .team-image-5, .team-image-6{
        width: 100%;
        height:300px;
    }

     /* footer styles */
                                
     .footer-section{
        height: auto;
    }
    .footer-container{
        max-width: calc(100% - 40px);
        height: auto;
        margin: 44px 20px 57px 20px;
    }
    .footer-text{
        height: auto;
        width: 100%;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 72px;
    }
    .footer-left,.footer-right{
        width: calc(100% - 36px);
        height:auto;
    }
    .footer-right{
        flex-direction: column;
    }                               
    .footer-hr{
        margin-bottom: 41px;
    } 

}