@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Dancing Script", cursive;
    font-family: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* shared style */

#hide{
    display: none;
}

.full-container{
    max-width: 1440px;
    margin: 0 auto;
    border: 0.01px solid transparent;
}

.display-flex{
    display: flex;
}


                                   /* header styles */
                                      /* navbar */
.header-section{
    height: 715px;
    background: linear-gradient(black,rgb(27, 27, 27),rgb(27, 27, 27),black);
}
.navbar{
    max-width: 1060px;
    height: 46px;
    margin: 0 auto;
    margin-top: 57px;
    justify-content: space-between;
    align-items: center;
}
.nav-left h3, .footer-left-title{
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}
.nav-right{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    border-radius: 40px;
}
.nav-right i{
    display: none;
}
.nav-items{
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    gap: 60px;
}
.nav-link{
    color: white;
    font-size: 1.25rem;
}
#nav-home{
    position: relative;
    background: rgb(230, 83, 60);
    padding: 10px 25px;
    border-radius: 46px;
    justify-items: center;
    transition: all 0.5s ;
}
#nav-home:hover{
    background-color: transparent;
    border: 1.5px solid #E6533C ;
}

                                /* banner styles */

.banner-container{
    max-width: 1036px;
    height: 580px;
    margin: 0 auto;
    margin-top: 32px;
    gap: 167px;
}
.banner-text-container{
    flex-direction: column;
    justify-content: center;
}
.banner-text-container h1{
    font-size: 4.875rem;
    color: white;
    font-weight: 900;
    margin-bottom: 28px;
}
.banner-text-container h1 span{
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}
.banner-text-container p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 28px;
}
.btn-primary{
    width: 224px;
    height: 54px;
    border: none;
    color: white;
    background-color: #E6533C;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid #E6533C ;
    color: #E6533C;
}
.btn-secondary{
    width: 224px;
    height: 54px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}
.download-app{
    margin-left: 14px;
}
.download-app:hover{
    color: white;
    background-color: #E6533C;
    border: none;
}
.banner-image-container{
    position: relative;
}
.upper-rectangle{
    width: 193px;
    height: 98px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    position: absolute;
    top: 125px;
    left: 230px;
    padding-left: 24px;
    padding-top: 17px;
}
.upper-rectangle .u-number{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.upper-rectangle .u-desc{
    color: rgba(255, 255, 255, 0.65);
    font-weight: normal;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    margin-bottom: 16px;
}
.lower-rectangle{
    width: 206px;
    height: 96px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 421px;
    right:256px;
    backdrop-filter: blur(8px);
    background: rgba(48, 48, 48, 0.54);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 23px;
    align-items: center;
    gap: 8px;
}
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}
.circle-play{
    display: none;
}
.lower-rectangle .l-number{
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}
.lower-rectangle .l-desc{
    color: rgba(239, 237, 232, 0.65);
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

                              /* change habit styles */

.change-habit-section{
    height: 652px;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.change-habit-container{
    width: 1044px;
    height: 452px;
    margin: 0 auto;
}
.change-habit-text, .meet-our-team-text, .weekly-challenges-text{
    width: 671px;
    height: 120px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid peru; */
}
.habit-title, .meet-title, .weekly-challenges-title{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.habit-desc, .meet-desc, .weekly-challenges-desc{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    text-align: center;
}
.change-habit-image{
    width: 1044px;
    height: 274px;
    margin: 0 auto;
    margin-top: 58px;
    justify-content: space-between;
}
.image-card-container{
    width: 231px;
    height: 274px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-card-container img{
    width: 180px;
    height: 180px;
    border: 4px solid #1A1A1A;
    border-radius: 50%;
}
.image-card-container h6{
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-top: 30px;
    margin-bottom: 6px;
}
.image-card-container p{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

                               /* run extra styles */

.run-extra-section{
    height: 571px;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.run-extra-container{
    width: 1060px;
    height: 371px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
}
.run-text-container{
    margin-left: 54px;
}
.run-text-container h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.run-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
}
.run-image-container{
    margin-right: 32px;
}
.run-image-container .run-a{
    border-radius: 18px;
}
.run-image-container .run-b{
    display: none;
}

                               /* training and exercise styles */

.training-and-exercise-section{
    height: 681px;
    background-color: black;
}
.training-and-exercise-container{
    width: 1060px;
    height: 581px;
    margin: 0 auto;
}
.training-and-exercise-text-container{
    width: 671px;
    height: 120px;
    margin-bottom: 58px;
}
.training-and-exercise-text-container h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.training-and-exercise-text-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.row-1, .row-2{
    width: 1060px;
    height: 201.5px;
}
.div-1{
    width: 270px;
    height: 201.5px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url("../images/exercise1.jpg");
}
.div-overlay{
    width: 100%;
    height: 100%;
    position: relative;
}
.workout-1{
    position: absolute;
    top: 157px;
    left: 40px;
    font-size: 0.875rem;
    font-weight: 500;
}
.div-2{
    width: 500px;
    height: 201.5px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url("../images/exercise2.png");
}
.workout-2{
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 0.875rem;
    font-weight: 500;
}
.div-3{
    width: 290px;
    height: 201.5px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exercise3.png");
}
.div-4{
    width: 440px;
    height: 201.5px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exercise4.png");
}
.workout-4{
    color: white;
    position: absolute;
    top: 30px;
    left: 330px;
    font-size: 0.875rem;
    font-weight: 500;
}
.div-5{
    width: 270px;
    height: 201.5px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url("../images/exercise5.jpg");
}
.div-6{
    width: 350px;
    height: 201.5px;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url("../images/exercise6.jpg");
}
.workout-3, .workout-5, .workout-6{
    position: absolute;
    top: 157px;
    left: 40px;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
}